<div class="content">
	<div class="contact-container">
		<div class="single-contact">
			<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
			<h3><%= @contact.email %></h3>
			<h4>Note:</h4><p id="notes"><%= @contact.notes %></p>
		</div>
		<div class="div-test">
			<form class="edit-button" action="/contacts/<%= @contact.id %>/edit" method="get">
			  <input type="submit" name="Edit Contact" value="Edit">
			</form>
			<form class="edit-button" action="/contacts/<%= @contact.id %>" method="post">
			  <input type="hidden" name="_method" value="delete">
			  <input type="submit" name="Delete Contact" value="Delete">
			</form>
	</div>
	</div>
</div>
